In [2]:
 # print 0 to 20 by using range
for num in range(0,20):
    print(num)

0
1
2
3
4
5
6
7
8
9
10
11
12
13
14
15
16
17
18
19

In [6]:
# print range 10 to 20  
#for num in range(10,20):
    #print(num)

# print range 10 to 20 >> priniting horizontally
for num in range(10, 20):
    print(num, end=" ")

10 11 12 13 14 15 16 17 18 19

In [8]:
 # Print number of items in the list by using 'len'
List2=[10, 20, 14, 55, 43, 87, 76]
print("Number of item in the List2: ")
print(len(List2))

Number of item in the List2:
7

In [10]:
#print a word vertically
word = "Artificial Intelligence"
for char in word:
    print(char)

A
r
t
i
f
i
c
i
a
l

I
n
t
e
l
l
i
g
e
n
c
e

In [12]:
name = input("Enter your name")
age = input("Enter your age")
profs = input("Enter your profession")
print("-Your Name-", name)
print("-Your Age-", age)
print("-Your Profession-",profs)

Enter your name Laks
Enter your age 25
Enter your profession SE

-Your Name- Laks
-Your Age- 25
-Your Profession- SE

In [14]:
# Creating a Tuple with Mixed Datatype
tup = (1, 'Welcome', 2, 'Hope')
print(tup)

(1, 'Welcome', 2, 'Hope')

In [16]:
# Creating a Tuple with nested tuples
tup1 = (0, 1, 2, 3)
tup2 = ('python', 'HOPE')
tup3 = (tup1, tup2)
print(tup3)

((0, 1, 2, 3), ('python', 'HOPE'))

In [18]:
# print Odd Numbers in the list
a = [20,10,16,19,25,1,276,188]

for i in a:
    if i % 2 != 0:
        print(i," is odd")

19  is odd
25  is odd
1  is odd

In [20]:
# print Even Numbers in the list
a = [20,10,16,19,25,1,276,188]

for i in a:
    if i % 2 == 0:
        print(i," is even")

20  is even
10  is even
16  is even
276  is even
188  is even